.App {
  text-align: center;
  background-color: transparent;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.App-Media {
  padding-top: 2.5%;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-Row {
  background-color: transparent;
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.img-fluid {
  max-height: 60vh;
}
.App-Link {
  font-weight: bold;
  color:rgb(255, 240, 34);
  text-decoration: underline;
}
.h1, h1 {
  font-size: 1.5rem;
}
